 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/hfgmin.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 724px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 5rem;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 382px 0 0 462px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  font-weight: 700;
  font-style: normal;
  margin: 20px 0 60px 549px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 262px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 129px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 58.98% 84.65%;
    background-size: auto 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 220px;
    margin-left: 0;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.11111rem;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 58.2% 79.34%;
    background-size: auto 170%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    font-weight: 700;
  }
}